/* General Styles */
body {
  font-family: 'Poppins', sans-serif;
  background-color: #f8f9fa;
  padding: 20px;
  text-align: center;
  color: #343a40;
}

/* Header Styles */
h1 {
  font-size: 2.5em;
  font-weight: 700;
  color: #495057;
  margin-bottom: 20px;
}

p {
  font-size: 1.2em;
  line-height: 1.6;
  color: #6c757d;
}

/* Hero Section */
.hero-section {
  background: linear-gradient(135deg, #6f42c1, #e83e8c);
  color: #fff;
  padding: 50px 20px;
  border-radius: 12px;
  margin-bottom: 40px;
}

.hero-section h1 {
  color: #fff;
  margin-bottom: 20px;
}

.hero-section p {
  font-size: 1.3em;
  color: #000000
}

/* Container Styles */
.container {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0 auto;
  padding: 20px;
  max-width: 1200px;
}

.text-box {
  width: 400px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  padding: 25px;
  background-color: #ffffff;
  transition: transform 0.2s ease-in-out;
}

.text-box:hover {
  transform: translateY(-5px);
}

textarea {
  height: 300px;
  resize: none;
  border: 2px solid #ced4da;
  border-radius: 5px;
  padding: 15px;
  margin-bottom: 20px;
  font-size: 1em;
}

/* Button Styles */
.submit-button {
  position: relative;
  background: linear-gradient(45deg, #fd7e14, #dc3545);
  color: #ffffff;
  font-weight: bold;
  border-radius: 8px;
  border: none;
  padding: 15px 30px;
  cursor: pointer;
  text-transform: uppercase;
  font-size: 1.2em;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transition: background-color 0.3s ease, transform 0.2s ease;
}

.submit-button:hover {
  background: linear-gradient(45deg, #dc3545, #fd7e14);
  transform: translateY(-2px);
}

.submit-button:disabled {
  background-color: #fd7e14;
  opacity: 0.6;
}

/* Carousel Styles */
.carousel-container {
  margin-top: 40px;
}

.owl-carousel .item img {
  width: auto; /* Ensure the width is auto to prevent stretching */
  height: 150px; /* Adjust the height to a consistent value */
  display: block;
  margin: auto;
}

/* Responsive Design */
@media (max-width: 768px) {
  .container {
    flex-direction: column;
    gap: 15px;
  }

  .text-box {
    width: 100%;
  }
}

/* Spinner Styles */
.spinner {
  display: none; /* Hidden by default */
  width: 16px;
  height: 16px;
  border: 4px solid rgba(255, 255, 255, 0.3);
  border-top: 4px solid white;
  border-radius: 50%;
  animation: spin 1s linear infinite;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) translateY(-2px); /* Adjust translateY to fine-tune vertical alignment */
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/* Loading State for Button */
.submit-button--loading .submit-button-text {
  visibility: hidden; /* Hide the text during loading */
  opacity: 0;
}

.submit-button--loading .spinner {
  display: inline-block; /* Show the spinner during loading */
}
